* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainContainer {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  height: 570px;
  margin: 30px auto;
  text-align: center;
  background-image: url("./img/background-gif4.gif");
  background-repeat: no-repeat;
  background-size: 800px 400px;
}

.mainContainer .subContainer #title {
  margin: 10px auto;
}

.mainContainer .subContainer #title h1 {
  color: #da8686;
  padding: 37px;
}

.mainContainer .subContainer #title img {
  opacity: 0.8;
}

.mainContainer .subContainer #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin: 10px;
}

.mainContainer .subContainer #score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  margin: 10px;
}

.mainContainer .subContainer #Char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContainer .subContainer #Char .character {
  width: 130px;
}

.mainContainer .subContainer .outcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContainer .subContainer .outcome #playerOutcome {
  margin: 10px;
  padding: 10px;
  color: white;
}

.mainContainer .subContainer .outcome #computerOutcome {
  margin: 10px;
  padding: 10px;
  color: white;
}

.mainContainer .subContainer #movesBtn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "punch kick start reset" "grapple block start reset";
  grid-gap: 4px;
  margin: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mainContainer .subContainer .moveBtn {
  border-radius: 5px;
  width: 100px;
}

.mainContainer .subContainer .moveBtn:hover {
  cursor: pointer;
  background-color: lightgray;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.mainContainer .subContainer #kick {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: kick;
  width: 140px;
}

.mainContainer .subContainer #grapple {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grapple;
  width: 140px;
}

.mainContainer .subContainer #punch {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: punch;
  width: 140px;
}

.mainContainer .subContainer #block {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: block;
  width: 140px;
}

.mainContainer #resetBtn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: reset;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  background-color: #d7bbbb;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainContainer #resetBtn:hover {
  cursor: pointer;
  background-color: brown;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.mainContainer #startBtn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: start;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  background-color: #d7bbbb;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainContainer #startBtn:hover {
  cursor: pointer;
  background-color: brown;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.mainContainer #audioLevel {
  width: 200px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */