* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  height: 570px;
  margin: 30px auto;
  text-align: center;
  background-image: url("./img/background-gif4.gif");
  background-repeat: no-repeat;
  background-size: 800px 400px;


  .subContainer {
    #title {
      margin: 10px auto;
      

      h1 {
        color: rgb(218, 134, 134);
        padding: 37px;
      }
      
      img {
        opacity: 0.8;
      }
    }
  
    #name {
      display: flex;
      justify-content: space-evenly;
      color: white;
      margin: 10px;
    }
    
    #score {
      display: flex;
      justify-content: space-evenly;
      color: white;
      margin: 10px;
    }
    
    #Char {
      display: flex;
      justify-content: space-evenly;
      
      .character {
        width: 130px;
      }
    }
    
    .outcome {
      display: flex;
      justify-content: space-evenly;

      #playerOutcome {
        margin: 10px;
        padding: 10px;
        color: white;
      }
  
      #computerOutcome {
        margin: 10px;
        padding: 10px;
        color: white;
      }
  
    }

    #movesBtn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "punch kick start reset"
        "grapple block start reset";
        grid-gap: 4px;
        margin: 20px;
        justify-self: center;
        }
  
        .moveBtn {
          border-radius: 5px;
          width: 100px;
  
          &:hover {
            cursor: pointer;
            background-color: lightgray;
            box-shadow: 1px 1px black;
          }
        }
      #kick {
        grid-area: kick;
        width: 140px;
      }
      #grapple {
        grid-area: grapple;
        width: 140px;
      }
      #punch{
        grid-area: punch;
        width: 140px;
      }
      #block {
        grid-area: block;
        width: 140px;
      }
    }

    #resetBtn {
      grid-area: reset;
      border-radius: 20px;
      width: 80px;
      height: 50px;
      background-color: rgb(215, 187, 187);
      justify-self: center;
      align-self: center;

      &:hover {
        cursor: pointer;
        background-color: brown;
        box-shadow: 2px 2px black;
      }
    }

    #startBtn {
      grid-area: start;
      border-radius: 20px;
      width: 80px;
      height: 50px;
      background-color: rgb(215, 187, 187);
      justify-self: center;
      align-self: center;

      &:hover {
        cursor: pointer;
        background-color: brown;
        box-shadow: 2px 2px black;
      }
    }

    #audioLevel {
    
      width: 200px;
      height: 20px;
    }
  
}


