* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  text-align: center;
  background-image: url("./img/background-gif4.gif");
  background-repeat: no-repeat;
  background-size: 60vw 43vh;
}

.mainContainer .subContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
      grid-template-areas: ". title title title ." ". playerTxt text computerTxt ." ". playerChar . computerChar ." ". playerChar . computerChar ." ". playerChar . computerChar ." ". playerOutcome . computerOutcome ." ". movesBtn . startBtn resetBtn" ". . . audio .";
}

.mainContainer .subContainer #title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin: 10px;
  padding: 10px;
  color: #da8686;
}

.mainContainer .subContainer #playerTxt {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: playerTxt;
  color: white;
  margin: 10px;
}

.mainContainer .subContainer #text {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: text;
  color: white;
}

.mainContainer .subContainer #computerTxt {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: computerTxt;
  color: white;
  margin: 10px;
}

.mainContainer .subContainer #playerChar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: playerChar;
}

.mainContainer .subContainer #computerChar {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: computerChar;
}

.mainContainer .subContainer #computerChar #kick {
  width: 140px;
}

.mainContainer .subContainer #computerChar #grapple {
  width: 140px;
}

.mainContainer .subContainer #computerChar #punch {
  width: 140px;
}

.mainContainer .subContainer .character {
  width: 130px;
}

.mainContainer .subContainer #playerOutcome {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: playerOutcome;
  margin: 10px;
  padding: 10px;
  color: white;
}

.mainContainer .subContainer #computerOutcome {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: computerOutcome;
  margin: 10px;
  padding: 10px;
  color: white;
}

.mainContainer .subContainer #movesBtn {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: movesBtn;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  margin: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mainContainer .subContainer .moveBtn {
  border-radius: 5px;
  width: 100px;
}

.mainContainer .subContainer .moveBtn:hover {
  cursor: pointer;
  background-color: lightgray;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.mainContainer #resetBtn {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: resetBtn;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  background-color: #d7bbbb;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainContainer #resetBtn:hover {
  cursor: pointer;
  background-color: brown;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.mainContainer #startBtn {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  grid-area: startBtn;
  border-radius: 20px;
  width: 80px;
  height: 50px;
  background-color: #d7bbbb;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainContainer #startBtn:hover {
  cursor: pointer;
  background-color: brown;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.mainContainer #document {
  grid-area: doc;
}

.mainContainer #document img {
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
}

.mainContainer #audioLevel {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
  grid-area: audio;
  width: 200px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */